<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/vuejs/vue.js"></script>

	</head>

	<body>
		<div id="app">
			<!--v-model 数据绑定-->
			<input type="text" v-model="name" placeholder="name" />
			<h1>hello {{name}}</h1>
			<!--需要显示 {{}} 而不是替换 使用v-pre-->
			<!--<span v-pre>{{这里的内容是不会被编译的}}</span>-->
			<!--{{}}里面可以执行简单的计算和三元运算 表示式判断-->
			<!--不支持单个表达式 不支持语句和流控制-->
			<span v-pre>{{}}</span>
			<!--添加过滤器-->
			<!--
				{ { message | filterA | filterB } } 过滤器串联
				{{ message | filterA( 'argl',' arg2 ’）｝｝可以接受参数

			-->
			<span>{{date | formatDate}}</span>

			<!--指令-->
			<!--show为true时候 会被插入 否则会被删除-->
			<p v-if="show">show</p>
			<!--v-bind用来进行数据绑定-->
			<!--<a v-bind:href="url">url</a>
			<img v-bind:src="imgUrl">-->
			<!--v-on用来进行事件显示-->
			<!--<button v-on:click="handleClose">click hide</button>-->

			语法糖是指在不影响功能的情况下 添加某种方法实现同样的效果 从而方便程序开发。
			所有示例 v-bind v-on 指令将默认使用语法糖的写法。
			<!--v-bind 使用:来表示-->
			<!--v-on 使用@来表示-->
			<a :href="url">url</a>
			<button @click="handleClose">click hide</button>
		</div>
	</body>
	<script type="text/javascript">
		var myData = {
			a:1
		}
		//在月份日期小时等小于0的前面补齐0 必须声明在引用之前
		var padDate = function (value) {
			return value < 10?"0"+value:value;
		};
		/*通过构造函数Vue创建一个Vue的根实例*/
		var app = new Vue({
			/*Vue 提供了很多常用的实例属性与方法，都以$开头*/
			/*el:指定已存在的dom来挂载元素*/
			el:"#app",
			data:{
				name:"",
				info:myData,
				date: new Date(),
				link:"<a>this is a link</a>",
				show:true,
				url:"https://www.github.com",
				imgUrl:"http://www.baidu.com/img.png"
			},
			created:function(){
				console.log("实例创建完成后调用，此阶段完成了数据的观测等，但尚未挂载，");
			},
			mounted:function(){
				this.init("在初始化时候调用");//在初始化时候调用
				var _this = this;//／声明 个变量指向 Vue 实例 this ，保证作用域一致
				this.timer = setInterval(function(){
					_this.date = new Date();//修改数据date
				},1000);
				console.log("实例上后调用，一般我们的第一个业务逻辑会在这里开始");
			},
			beforeDestroy:function(){
				if(this.timer){
					clearInterval(this.timer);//：在 Vue 实例销毁前，清除我们的定时器
				}
				console.log("实例销毁之前调用,添加监听的事件");
			},
			filters:{
				formatDate:function (value) {//value是需要过滤的数据
					var date = new Date(value);
					var year = date.getFullYear();
					var month = padDate(date.getMonth()+1);
					var day = padDate(date.getDate());
					var hours = padDate(date.getHours());
					var minutes = padDate(date.getMinutes());
					var seconds = padDate(date.getSeconds());
					//将整理好的数据返回去
					return year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
				}
			},
			methods:{
				handleClose:function () {
					this.show = false;
					this.close();
				},
				close:function () {
					this.show = false;
				},
				init:function (text) {
					console.log(text);
				}
			}

		});

		app.init("外部调用");


		
	</script>


</html>