<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8">
		<title>过滤器和作用域</title>
	</head>
	<script type="text/javascript" src="../js/angular-1.2.6/angular.min.js" ></script>
	<body>
		<!--3.1排序方式过滤-->
		<div ng-controller="c3_1">
			<ul>
				<li ng-class="{{bold}}">
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
				</li>
				<!--排序默认为升序 添加- 表示倒序-->
				<li ng-repeat="stu in data | orderBy:'-score' |limitTo:3"
					ng-class-odd="'odd'" ng-class-even="'even'">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.age}}</span>
					<span>{{stu.score}}</span>
				</li>	
					
			</ul>
		</div>
		<!--3.2匹配方式过滤器-->
		<div ng-controller="c3_2">
			<ul>
				<li ng-class="{{bold}}">
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
				</li>
				<!--过滤方式采取 指定函数的方式处理-->
				<li ng-repeat="stu in data | filter:findscore"
					ng-class-odd="'odd'" ng-class-even="'even'">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.age}}</span>
					<span>{{stu.score}}</span>
				</li>	
					
			</ul>
		</div>
		<!--3.3自定义过滤器-->
		<div ng-controller="c3_3">
			<ul>
				<li ng-class="{{bold}}">
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
				</li>
				<!--过滤方式采取 指定函数的方式处理-->
				<li ng-repeat="stu in data | young:0"
					ng-class-odd="'odd'" ng-class-even="'even'">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.age}}</span>
					<span>{{stu.score}}</span>
				</li>	
					
			</ul>
		</div>
		
		<!--3.4表头排序-->
		<div ng-controller="c3_4">
			<ul>
				<li ng-class="{{bold}}">
					<span >序号</span>
					<span ng-click="title='name';desc=!desc">序号</span>
					<span ng-click="title='sex';desc=!desc">序号</span>
					<span ng-click="title='age';desc=!desc">序号</span>
					<span ng-click="title='score';desc=!desc">序号</span>
				</li>
				<!--过滤方式采取 指定函数的方式处理-->
				<li ng-repeat="stu in data | orderBy:title:desc"
					ng-class-odd="'odd'" ng-class-even="'even'">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.age}}</span>
					<span>{{stu.score}}</span>
				</li>	
					
			</ul>
		</div>
		
		<!--3.5表头排序-->
		<div ng-controller="c3_5">
			<div>
				<input id="txtkey" type="text" ng-model="key" placeholder="请输入姓名" />
			</div>
			<ul>
				<li ng-class="{{bold}}">
					<span >序号</span>
					<span ng-click="title='name';desc=!desc">序号</span>
					<span ng-click="title='sex';desc=!desc">序号</span>
					<span ng-click="title='age';desc=!desc">序号</span>
					<span ng-click="title='score';desc=!desc">序号</span>
				</li>
				<!--过滤方式采取 指定函数的方式处理-->
				<li ng-repeat="stu in data | filter:{name:key}"
					ng-class-odd="'odd'" ng-class-even="'even'">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.age}}</span>
					<span>{{stu.score}}</span>
				</li>	
					
			</ul>
		</div>
		
		<!--$scope对象本质是一个作用域对象-->
		<!--作用域包括三个特点：1提供一个$watch方法 2$apply方法 3.为表达式提供运行环境-->
		<!--作用域是控制器和视图的桥梁，也是视图和指令的桥梁-->
		<!--3.6 $watch方法-->
		<div ng-controller="c3_6">
			<div>
				<input type="text" ng-model="name" placeholder="请输入姓名" />
			</div>
			<div>累计次数{{count}}</div>
		</div>
		
		<!--3.7作为数据模型的作用域-->
		<div ng-controller="c3_7">
			<div>
				<input type="text" ng-model="name" placeholder="" />
			</div>
			<div>{{name}}</div>
		</div>
		
		<!--3.8作用域层级和事件 顶级作用域只有一个 子级继承父级 同级不可以相互访问 通信只限于父子级别-->
		
		<div ng-controller="c3_8_school">
			<ul ng-controller="c3_8_class_1">
				<li ng-class="{{school}}">{{s_name}}{{c_name}}</li>
				<li ng-class="{{bold}}">
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
				</li>
				<li ng-reat="stu in data">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.english}}</span>
					<span>{{stu.maths}}</span>
				</li>
			</ul>
			<ul ng-controller="c3_8_class_2">
				<li ng-class="{{school}}">{{s_name}}{{c_name}}</li>
				<li ng-class="{{bold}}">
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
					<span>序号</span>
				</li>
				<li ng-reat="stu in data">
					<span>{{$index+1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.english}}</span>
					<span>{{stu.maths}}</span>
				</li>
			</ul>
		</div>
		
		<!--3.9作用域之间的事件传播-->
		<!--最顶层的作用是rootscope-->
		<!--在作用域创建一个单例的服务 该服务来处理各个作用域之间之间的数据通信-->
		<!--作用域之间使用事件 必须使用$broadcasted 父类作用域传到子类 $emitted 子类作用域传到到父类 $on方法来获取对应的数据-->
		<div ng-controller="c3_9_p">
			<div ng-controller="c3_9_s">
				<button ng-click="to_parent">to_parent</button>
				<button ng-click="to_son">to_son</button>
				<div ng-controller="c3_9_c"></div>
			</div>
			<div ng-controller="c3_9_b"></div>
		</div>
	</body>
	<script type="text/javascript" >
		var a3_1 = angular.module('a3_1',[]);
		a3_1.controller('c3_1',['$scope',function($scope){
			$scope.bold="bold";
			$scope.data=[
				{name:"x",sex:"x",age:"x",score:1}
			];
		}]);
		
		var a3_2 = angular.module('a3_2',[]);
		a3_2.controller('c3_2',['$scope',function($scope){
			$scope.bold="bold";
			$scope.data=[
				{name:"x",sex:"x",age:"x",score:1}
			];
			$scope.findscore=function(e){
				return e.score > 85 && e.score <90;
			}
		}]);
		
		var a3_3 = angular.module('a3_3',[]);
		a3_3.controller('c3_3',['$scope',function($scope){
			$scope.bold="bold";
			$scope.data=[
				{name:"x",sex:"x",age:"x",score:1}
			];
		}]);
		a3_3.filter("young",function(){
			return function(e,type){
				var _out = [];
				var _sex = type ?"f":"m";
				for (var i = 0; i < e.length; i++) {
					if (e[i].age >22 && e[i].age < 28 && e[i].sex == sex) {
						_out.push(e[i]);
					}
				}
			}
		});
		
		var a3_4 = angular.module('a3_4',[]);
		a3_4.controller('c3_4',['$scope',function($scope){
			$scope.bold="bold";
			$scope.title ="name";
			$scope.desc=0;
			$scope.data=[
				{name:"x",sex:"x",age:"x",score:1}
			];
		}]);
		
		var a3_5 = angular.module('a3_5',[]);
		a3_5.controller('c3_5',['$scope',function($scope){
			$scope.bold="bold";
			$scope.key ="";
			$scope.desc=0;
			$scope.data=[
				{name:"x",sex:"x",age:"x",score:1}
			];
		}]);
		
		var a3_6 = angular.module('a3_6',[]);
		a3_6.controller('c3_6',['$scope',function($scope){
			$scope.count=0;
			$scope.name="";
			$scope.$watch('name',function(){
				$scope.count++;
			});
		}]);
		
		var a3_7 = angular.module('a3_7',[]);
		a3_7.controller('c3_7',['$scope',function($scope){
			$scope.name="";
		}]);
		
		var a3_8 = angular.module('a3_8',[]);
		a3_8.controller('c3_8_school',['$scope',function($scope){
			function ($scope){
				$scope.s_name = "xxx";
				$scope.bold="";
				$scope.school="school";
			}
		}]);
		a3_8.controller('c3_8_class_1',['$scope',function($scope){
			function ($scope){
				$scope.c_name = "xxx";
				$scope.data=[
				{name:"x",sex:"x",english:9,maths:1}
				];
			}
		}]);
		a3_8.controller('c3_8_class_2',['$scope',function($scope){
			function ($scope){
				$scope.c_name = "xxx";
				$scope.data=[
				{name:"x",sex:"x",english:9,maths:1}
				];
			}
		}]);
		
		var a3_9 = angular.module('a3_9',[]);
		a3_9.controller('c3_9_s',['$scope',function($scope){
			$scope.to_parent=function(){
				$scope.$emit('event1',"son");
			}
			$scope.to_child=function(){
				$scope.$broadcast("event2","parent");
			}
		}]);
		a3_9.controller('c3_9_p',function(){
			$scope.$on('event1',function(event,data){
				console.log("parent listen"+data);
			});
			$scope.$on('event2',function(event,data){
				console.log("parent listen"+data);
			});
		});
		
		a3_9.controller('c3_9_c',function(){
			$scope.$on('event1',function(event,data){
				console.log("parent listen"+data);
			});
			$scope.$on('event2',function(event,data){
				console.log("parent listen"+data);
			});
		});
		
		a3_9.controller('c3_9_b',function(){
			$scope.$on('event1',function(event,data){
				console.log("parent listen"+data);
			});
			$scope.$on('event2',function(event,data){
				console.log("parent listen"+data);
			});
		});
	</script>
</html>
